<router-outlet></router-outlet>
<div class="container">
    <h1>View properties</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>PropertyId</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Locality</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor="let property of data;let i=index">
                <tr *ngIf="i<5">
                    <td>{{property.propertyId}}</td>
                    <td>{{property.propertyName}}</td>
                    <td>{{property.propertyType}}</td>
                    <td>{{property.Locality}}</td>
                    <td>{{property.price}}</td>
                    <td class="d-flex" style="justify-content: space-between;"><button class="btn btn-success">View</button><button class="btn btn-primary">Edit</button><button class="btn btn-danger">Delet</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <a [routerLink]="['/properties']">View all Properties</a>
    <hr>
    <h1>View draft properties</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>PropertyId</th>
                <th>Property Name</th>
                <th>Property Type</th>
                <th>Locality</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor="let property of drafts;let i=index">
                <tr *ngIf="i<5">
                    <td>{{property.propertyId}}</td>
                    <td>{{property.propertyName}}</td>
                    <td>{{property.propertyType}}</td>
                    <td>{{property.Locality}}</td>
                    <td>{{property.price}}</td>
                    <td class="d-flex" style="justify-content: space-between;"><button class="btn btn-primary">Edit</button><button class="btn btn-danger">Delet</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <a [routerLink]="['/draft']">View all drafted Properties</a>
    <hr>
    <h1>View Enquiries</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>EnquiryId</th>
                <th>Purpose</th>
                <th>Area in sq.ft.</th>
                <th>Locality</th>
                <th>Price</th>
                <th>Description</th>
                <th>Approval</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor="let enquiry of enquiries;let i=index">
                <tr *ngIf="i<5">
                    <td>{{enquiry.enquiryId}}</td>
                    <td>{{enquiry.purpose}}</td>
                    <td>{{enquiry.areainSqFt}}</td>
                    <td>{{enquiry.locality}}</td>
                    <td>{{enquiry.price}}</td>
                    <td>{{enquiry.description}}</td>
                    <td>{{enquiry.approval}}</td>
                    <td class="d-flex" style="justify-content: space-between;"><button class="btn btn-danger">Delet</button></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <a [routerLink]="['/enquiries']">View all Enquiries</a>
    <hr>
    <h1>View Feedback</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>

                <th>FeedbackId</th>
                <th>Name</th>
                <th>Email</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <ng-container  *ngFor="let feedback of feedbacks;let i=index">
                <tr *ngIf="i<5">
                    <td>{{feedback.feedbackId}}</td>
                    <td>{{feedback.name}}</td>
                    <td>{{feedback.email}}</td>
                    <td>{{feedback.description}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <a [routerLink]="['/feedbacks']">View all Feedbacks</a>
</div>
<app-add-property></app-add-property>
